{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'ratings/style.css' %}" />


{% block content %}

{% if user.is_authenticated %}
  Hi, {{ user.get_username }} <a href="/logout/">Logout</a>
{% else %}
  Hi there! >>>> <a href="/login/">Login</a>
{% endif %}

<h2>{{ movie.title }}</h2>

<p>
  Average rating: {{ movie.avg_rating | floatformat:"2" }}
</p>


{% if rating %}
  <p>You rated this movie {{rating.rating}} out of 5</p>
{% elif user.is_authenticated %}
  <a href="{% url 'ratings:add_rating' movie.id %}">Rate This Movie!</a>
{% endif %}


<p>
{% for rating in ratings %}
  <br><a href="{% url 'ratings:rater_detail' rating.rater_id %}">#{{ rating.rater_id }}</a>
  Rating: {{rating.rating}}<br>
  {% if user.is_authenticated and user.rater == rating.rater %}
    <form action="{% url 'ratings:delete' rating.id %}" method="post">
      {% csrf_token %}
      <input type="submit" value="x">
    </form>
  {% endif %}
{% endfor %}
</p>
{% endblock %}
