{% block content %}
  <h2>{{ movie.title }}</h2>
  <p>
    Number of ratings: {{ movie.number_ratings }}<br>
    Average rating: {{ movie.avg_rating | floatformat:"2" }}
  </p>

  <p>
  {% for rating in ratings %}
    <a href="{% url 'ratings:rater_detail' rating.rater_id %}">#{{ rating.rater_id }}</a>
    Rating: {{rating.rating}}
  {% endfor %}
  </p>

  {% if user.is_authenticated %}
    {% if rating %}
      <p>You rated this movie {{rating.rating}} out of 5</p>
    {% else %}
      <a href="{% url 'ratings:add_rating' movie.id %}">Rate Movie!</a>
    {% endif %}
  {% endif %}

{% endblock %}
